@import 'tailwindcss';

@import './navbar-style.css';
@import './footer-style.css';
@import './styles.css';

/* Componentes */
@import './components/admin.css';
@import './components/app.css';
@import './components/galery-style.css';
@import './components/preguntas-style.css';
@import './components/chat-style.css';
@import './components/testimonios-style.css';
@import './components/hero-style.css';
@import './components/disciplinas-style.css';
@import './components/nosotros-style.css';
@import './components/contacto-styles.css';
@import './components/camino-ct-styles.css';
@import './components/noticias-style.css';